<ul>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Nosotros</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Destinos</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Tarifas</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Experiencias</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 5</span>
        </a>
    </li>
</ul>