<div class="header">
    <div class="video">
        <video autoplay>
            <source src="../../assets/img/video2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-slogan-container">
        <div class="banner-slogan">
            <span class="banner-primario" id="frase-1">"Hay lugares donde uno se queda, y lugares que quedan en uno"</span>
            <span class="banner-secundario" id="frase-2">"Viajar es lo único que compras y te hace más rico"</span>
            <span class="banner-secundario" id="frase-3">"No se recuerdan los días, se recuerdan los momentos"</span>
            <span class="banner-secundario" id="frase-4">"No digas es imposible, di, aún no lo he intentado"</span>
        </div>  
    </div>
</div>
